* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

.main-div {
    width: 400px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body {
    height: 100vh;
    display: grid;
    place-items: center;
}

.weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: aliceblue;
}

.weekDays div {
    padding: 10px 0;
    text-align: center;
    font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.monthDays {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 3px;
}

.monthDays div {
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.dates {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0 10px;
    text-align: center;
}

.dates button {
    font-size: 20px;
    background-color: #ff2253;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}

.dates h1 {
    font: 500 40px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dates p {
    font: 400 16px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.currentDay {
    border-radius: 10px;
    color: #fff;
    background-color: #ff2253;
}

.monthButton {
    display: flex;
    gap: 25px;
}

.monthButton div {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.monthButton label {
    font: 500 18px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
}
input[type="radio"]:checked{
    background-color: #ff2253;
    border: 0;
}